html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    overflow: hidden;
}

h1 {
    font-size: 64px;
    font-family: Verdana;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

#welcome {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-family: Verdana;
    vertical-align: middle;
    text-align: center;
    border: 0;
    padding: 30px 0;
    background: #000;
    z-index: 10000;
    margin: 0;
}

#enter {
    padding: 20px;
    width: 300px;
    height: 100px;
    border: 3px solid #ccc;
    color: #fff;
    background: #111;
    border-radius: 10px;
    font-size: 32px;
    font-family: Verdana;
    text-align: center;
    cursor: pointer;
}

#enter:hover {
    color: #FFFDE1;
    border-color: #FFFDE1;
    box-shadow: 0 0 10px 2px #FFFDE1;
}

#subtitle {
    margin-top: 100px;
}

.select {
    padding: 20px;
    width: 300px;
    height: 100px;
    border: 3px solid #ccc;
    color: #fff;
    background: #111;
    border-radius: 10px;
    font-size: 32px;
    font-family: Verdana;
    text-align: center;
    cursor: pointer;
}

.select:hover {
    color: #FFFDE1;
    border-color: #FFFDE1;
    box-shadow: 0 0 10px 2px #FFFDE1;
}

.select.active {
    color: #88aa88;
    border-color: #FFFDE1;
    background: #FFFfff;
    box-shadow: 0 0 10px 2px #FFFDE1;
}

#days {
    margin-right: 40px;
}

#loading {
    position: absolute;
    top: 25%;
    color: #fff;
    width: 100%;
    height: 100px;
    font-size: 32px;
    font-family: Verdana;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0;
    display: none;
    z-index: 10001;
}

#load_progress {
    width: 400px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px auto 20px auto;
    overflow: hidden;
}

#progress {
    width: 0px;
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    background: #FFFDE1;
    font-size: 0px;
}

#timer {
    position: absolute;
    display: none;
    right: 50px;
    top: 50px;
    width: auto;
    height: 24px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200, 0.5);
    background: #000;
    z-index: 10000;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #111;
    text-align: left;
    padding: 10px 30px;
    font-family: Verdana;
}

#map-container {
    position: absolute;
    display: none;
    left: 50px;
    bottom: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid rgba(200, 200, 200, 0.5);
    background: #000;
    z-index: 9999;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #111;
}

.minimap {
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 1s, left 1s;
}

.fog {
    z-index: 10000 !important;
    background: transparent !important;
}